
.peek-button {
  width: 100%;
  border: none;
  background: #f7f7f7;
  font-size: 18px;
  text-align: end;
  border-right: 3px solid #f7f7f7;
}

.peek-button:hover {
  border-right: 3px solid tomato;
}